// Event.module.scss
@use "fonts";
@use "variables";

.eventWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-content: flex-start;
}

.event {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 1.25em;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; // Default to column for smaller screens
  align-items: stretch;
  overflow: hidden;
  margin: 10px;
  flex: 1 0 300px;

  h3 {
    margin-top: 0;
  }

  @media (min-width: variables.$desktop-size) {
    flex-direction: row; // Switch to row for larger screens
    align-items: center;
  }
}

.eventImageContainer {
  display: flex;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 0;
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically

  @media (min-width: variables.$desktop-size) {
    margin-bottom: 0;
  }
}

.iframeWrapper {
  box-sizing: border-box; /* Include padding in the element's total width and height */
  height: 100%; /* Ensure the parent container has a defined height */
}

.iframeWrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.eventDetails {
  flex-grow: 1;
  margin-bottom: 20px; /* Add space below event details */
}

@media (min-width: variables.$desktop-size) {
  .eventDetails {
    margin-bottom: 0;
    margin-right: 20px; /* Add space to the right of event details for larger screens */
  }
}