// Event.module.scss
@import "fonts";
@import "variables";

.event {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 1.25em;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; // Default to column for smaller screens
  align-items: stretch;
  overflow: hidden;
  margin: 10px;
  flex: 1 0 300px;

  h3 {
    margin-top: 0;
  }

  @media (min-width: $min-width-desktop) {
    flex-direction: row; // Switch to row for larger screens
    align-items: center;
  }
}

.eventImageContainer {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: $min-width-desktop) {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.eventImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.eventDetails {
  flex-grow: 1;
  margin-bottom: 20px; /* Add space below event details */
}

@media (min-width: $min-width-desktop) {
  .eventDetails {
    margin-bottom: 0;
    margin-right: 20px; /* Add space to the right of event details for larger screens */
  }
}