// Event.module.scss
.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: .75rem; //Keep these the same for coloring
  padding: .75rem; //Keep these the same for coloring
}