// Event.module.scss
.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: .6rem; //Keep these the same for coloring
  padding: .6rem; //Keep these the same for coloring
  //background: #F8F0EC;
}